<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <%- include('nav.ejs') %>
    <div class="container">
      <h1>Chat</h1>
      <ul class="list-group chat-list">
        <% data.forEach(item=> { %>
          <li class="list-group-item" data-id="<%= item._id %>">
            <h4>
              <%= item.title %>
            </h4>
            <% item.member.forEach(mem=> { %>
              <p class="text-small m-0">user: <%= mem %>
              </p>
              <% }) %>
          </li>
          <% }) %>
      </ul>

      <div id="msg-view" class="border p-3 my-3">
        메시지...
      </div>

      <div class="chat-box">
        <p>대화창</p>
      </div>
      <!-- 전송버튼 -->
      <div class="input-group mt-3">
        <input type="text" class="form-control" id="chat-input">
        <button class="btn btn-secondary" id="send">전송</button>
      </div>
    </div>

    <script>
      const listGroupItem = document.querySelectorAll('.list-group-item');
      let roomId;
      let eventSource;
      listGroupItem.forEach(list => {
        // this는 가급적 쓰지 마시오. e.target과 e.currentTarget의 차이 주의
        list.addEventListener('click', (e) => {
          roomId = e.currentTarget.dataset.id;
          console.log(roomId);
          const msgView = document.getElementById('msg-view');
          msgView.innerHTML = null;

          // 실시간 메시지 이벤트, roomId를 보내 어떤 챗방인지 확인
          // 채널이 열려 있는지 확인(채크 안하면 메모리 오류로 오동작)
          if(eventSource) eventSource.close();

          eventSource = new EventSource('/message/' + roomId);
          eventSource.addEventListener('onmessage', e => {
            console.log(JSON.parse(e.data));
            const msgs = JSON.parse(e.data);
 
            msgs.forEach(msg => {
              msgView.innerHTML += `
                <p>user: ${msg.userid}, ${msg.content}</p>
              `
            })
          })
        })
      })

      const send = document.getElementById('send');
      send.addEventListener('click', () => {
          const data = {
            parent: roomId,
            content: document.querySelector('#chat-input').value,
          }

          fetch('/message', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
          })
            .then(res => res.json())
            .then(data => console.log(data))
            .catch(err => console.error(err));
      })  // eventListener
    </script>
</body>

</html>