<nav class="mb-3 border border-end p-2 d-flex justify-content-between">
  <div>
    <a href="/" class="me-3">Home</a>
    <a href="/write" class="me-3">Write</a>
    <a href="/mypage">My Page</a>
  </div>
  <div>
    <a href="/login">Login</a>
  </div>
</nav>