<nav class="mb-3 border border-end p-2 d-flex justify-content-between">
  <div>
    <a href="/" class="me-3">Home</a>
    <a href="/write" class="me-3">Write</a>
    <a href="/shop/shirts" class="me-3">Shirts</a>
    <a href="/shop/pants" class="me-3">Pants</a>
    <a href="/mypage" class="me-3">My Page</a>
    <a href="/upload">Upload</a>
  </div>
  <div>
    <a href="/login">Login</a>
  </div>
</nav>